

<p>
  <strong>Nombre:</strong>
  <%= @socio.name %>
</p>

<p>
  <strong>Sap:</strong>
  <%= @socio.sap %>
</p>

<%= link_to 'Editar', edit_socio_path(@socio) %> |
<%= link_to 'Volver', socios_path %>
